/* Buttons */

table.button,
table.tiny-button,
table.small-button,
table.medium-button,
table.large-button {
  width: 100%;
  overflow: hidden;
}

table.button td,
table.tiny-button td,
table.small-button td,
table.medium-button td,
table.large-button td {
  display: block;
  width: auto !important;
  text-align: center;
  background: $primary;
  border: 1px solid darken($primary, 10%);
  color: $white;
  padding: 8px 0;
  line-height: inital !important;
}

table.tiny-button td {
  padding: 5px 0 4px;
}

table.small-button td {
  padding: 8px 0 7px;
}

table.medium-button td {
  padding: 12px 0 10px;
}

table.large-button td {
  padding: 21px 0 18px;
}

table.button td a,
table.tiny-button td a,
table.small-button td a,
table.medium-button td a,
table.large-button td a {
  font-weight: bold;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  color: $white;
  font-size: 16px;
  display: block;
  height: 100%;
  width: 100%;
}

table.tiny-button td a {
  font-size: 12px;
  font-weight: normal;
}

table.small-button td a {
  font-size: 16px;
}

table.medium-button td a {
  font-size: 20px;
}

table.large-button td a {
  font-size: 24px;
}

table.button:hover td,
table.button:visited td,
table.button:active td {
  background: darken($primary, 10%) !important;
}

table.button:hover td a,
table.button:visited td a,
table.button:active td a {
  color: $white !important;
}

table.button:hover td,
table.tiny-button:hover td,
table.small-button:hover td,
table.medium-button:hover td,
table.large-button:hover td {
  background: darken($primary, 10%) !important;
}

table.button:hover td a,
table.button:active td a,
table.button td a:visited,
table.tiny-button:hover td a,
table.tiny-button:active td a,
table.tiny-button td a:visited,
table.small-button:hover td a,
table.small-button:active td a,
table.small-button td a:visited,
table.medium-button:hover td a,
table.medium-button:active td a,
table.medium-button td a:visited,
table.large-button:hover td a,
table.large-button:active td a,
table.large-button td a:visited {
  color: $white !important;
}

table.secondary td {
  background: $secondary;
  border-color: darken($secondary, 10%);
  color: $gray;
}

table.secondary td a {
  color: $gray;
}

table.secondary:hover td {
  background: #d0d0d0 !important;
  color: $gray;
}

table.secondary:hover td a,
table.secondary td a:visited,
table.secondary:active td a {
  color: $gray !important;
}

table.success td {
  background: $success;
  border-color: darken($success, 10%);
}

table.success:hover td {
  background: darken($success, 10%) !important;
}

table.alert td {
  background: $danger;
  border-color: darken($danger, 10%);
}

table.alert:hover td {
  background: darken($danger, 10%) !important;
}

table.radius td {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

table.round td {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}
